/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 50px;
}

h1 {
    color: #333;
    font-size: 34px;
}

p {
    font-size: 18px;
    color: #555;
}

.container {
    width: 340px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;
    
    animation: heartBeat 1s ease infinite 0s;
}

.container:hover {
    animation: heartBeat 0.8s ease infinite 0s;
}

.heart {
    position: absolute;
    left: 70px;
    top: 130px;
    width: 170px;
    height: 170px;
    background-color: #000000;
    transform: rotate(45deg);
}

.heart:before, .heart:after {
    content: '';
    display: block;
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 100px;
    background-color: #000000;
}

.heart:before {
    left: -100px;
    top: 0;
}

.heart:after {
    right: 0;
    top: -100px;
}

@keyframes heartBeat {
    0% { transform: scale(1); }
    15% { transform: scale(1.2); }
    25% { transform: scale(1.1); }
    35% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
