body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    margin: 0;
    padding: 50px;
}

h1 {
    color: #7d7d7d;
}


p {
    font-size: 18px;
    color: #7d7d7d;
}
  
  .pulse:after {
    content: "";
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 80px;
    margin-left: 350px;
    -webkit-animation: 3s pulse infinite linear;
            animation: 3s pulse infinite linear;
  }
  
  @-webkit-keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
    }
    10% {
      clip: rect(0, 66.6666666667px, 100px, 0);
    }
    38% {
      clip: rect(0, 133.3333333333px, 100px, 0);
    }
    48% {
      clip: rect(0, 200px, 100px, 0);
    }
    52% {
      clip: rect(0, 200px, 100px, 0);
    }
    62% {
      clip: rect(0, 200px, 100px, 66.6666666667px);
    }
    90% {
      clip: rect(0, 200px, 100px, 133.3333333333px);
    }
    100% {
      clip: rect(0, 200px, 100px, 200px);
    }
  }
  
  @keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
    }
    10% {
      clip: rect(0, 66.6666666667px, 100px, 0);
    }
    38% {
      clip: rect(0, 133.3333333333px, 100px, 0);
    }
    48% {
      clip: rect(0, 200px, 100px, 0);
    }
    52% {
      clip: rect(0, 200px, 100px, 0);
    }
    62% {
      clip: rect(0, 200px, 100px, 66.6666666667px);
    }
    90% {
      clip: rect(0, 200px, 100px, 133.3333333333px);
    }
    100% {
      clip: rect(0, 200px, 100px, 200px);
    }
  }